.centerBlock {
    display: table;
    margin: auto;
}
body {
    background-color: #4b0fe4;
}

h1 {
    font-family: 'VT323';
    font-size: 80px;
    color: white;
}

h2 {
    font-family: 'VT323';
    color: #e40fa8;
    text-align: center
}


#btn {
    border-radius: 10px;
    padding: 15px;
    background-color: #a8e40f;
    color: #e40fa8;
    align-content: center;
    font-family: 'VT323';
}

img {
    max-width: 300px;
    border-radius: 20px;
    display: table;
    margin: auto;
}

.titles {
    background-color: white;
    font-family: 'VT323', sans-serif;
    color: #4b0fe4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    margin: 10px
}

.underline {
    text-decoration: underline
}

.update {
    color: #e40fa8
}

.status {
    background-color: white;
    font-family: 'VT323', sans-serif;
    text-align: center;
    border-radius: 3px;
    color: #a8e40f
}

.row1 {
    height: 10px;
}

.row2 {
    text-align: center;
}

.row4 {
    font-family: 'VT323', sans-serif;
    font-size: 30px;
    text-align: center;
}

